.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.878418;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-9.632000px;}
._1{margin-left:-7.760000px;}
._2{margin-left:-6.240000px;}
._3{margin-left:-3.552000px;}
._0{margin-left:-1.600000px;}
.fc3{color:rgb(217,217,217);}
.fc1{color:rgb(13,13,13);}
.fc2{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:40.000000px;}
.fs0{font-size:54.000000px;}
.fs3{font-size:60.000000px;}
.fs5{font-size:72.000000px;}
.fs1{font-size:80.000000px;}
.fs4{font-size:96.000000px;}
.fs7{font-size:112.000000px;}
.fs6{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:30.555985px;}
.y2d{bottom:77.690876px;}
.y11{bottom:81.392841px;}
.y12{bottom:126.616871px;}
.yd{bottom:132.675922px;}
.y10{bottom:151.412373px;}
.y28{bottom:151.688381px;}
.y27{bottom:152.401546px;}
.y23{bottom:160.588367px;}
.y17{bottom:166.284657px;}
.y2e{bottom:170.964361px;}
.y2{bottom:186.994173px;}
.ye{bottom:193.767811px;}
.y18{bottom:196.939930px;}
.y13{bottom:206.148029px;}
.y24{bottom:207.035755px;}
.y1a{bottom:212.776386px;}
.y5{bottom:213.448434px;}
.y1e{bottom:214.248422px;}
.y1f{bottom:215.048409px;}
.y1{bottom:265.463867px;}
.y4{bottom:265.464203px;}
.y1c{bottom:266.503967px;}
.y1b{bottom:281.534639px;}
.y26{bottom:282.854195px;}
.yf{bottom:290.197239px;}
.y2c{bottom:291.034977px;}
.yc{bottom:293.850956px;}
.y20{bottom:296.227802px;}
.y15{bottom:301.319859px;}
.y19{bottom:330.872135px;}
.y1d{bottom:358.073002px;}
.ya{bottom:358.869770px;}
.yb{bottom:368.211826px;}
.y2b{bottom:368.945042px;}
.y21{bottom:372.819218px;}
.y25{bottom:375.781818px;}
.y6{bottom:381.133137px;}
.y29{bottom:382.008045px;}
.y14{bottom:385.129856px;}
.y22{bottom:407.478756px;}
.y16{bottom:407.637577px;}
.y7{bottom:416.349705px;}
.y2a{bottom:420.345921px;}
.y9{bottom:478.118208px;}
.y8{bottom:494.318209px;}
.h3{height:28.007812px;}
.h1{height:37.810547px;}
.h4{height:40.781250px;}
.h7{height:48.937500px;}
.h6{height:54.375000px;}
.h2{height:56.015625px;}
.h5{height:67.218750px;}
.h9{height:76.125000px;}
.h8{height:87.000000px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x3{left:33.048172px;}
.x1b{left:42.749100px;}
.x1{left:53.876896px;}
.x24{left:56.571461px;}
.x4{left:136.904873px;}
.x11{left:158.878050px;}
.x5{left:161.506497px;}
.x2{left:183.315781px;}
.x10{left:188.331726px;}
.x6{left:192.970840px;}
.x22{left:200.936905px;}
.x19{left:218.930145px;}
.x1d{left:228.723007px;}
.xf{left:235.194211px;}
.x1c{left:236.267348px;}
.x9{left:237.562336px;}
.x13{left:258.400482px;}
.x14{left:259.437500px;}
.xa{left:276.284485px;}
.x12{left:278.818129px;}
.xc{left:280.536926px;}
.xe{left:286.613217px;}
.x21{left:292.819031px;}
.x25{left:300.476807px;}
.x23{left:325.358948px;}
.xd{left:327.305969px;}
.xb{left:331.940247px;}
.x20{left:348.742615px;}
.x1a{left:356.327820px;}
.x16{left:372.933228px;}
.x1e{left:380.467529px;}
.x15{left:382.747009px;}
.x18{left:509.806824px;}
.x17{left:525.048218px;}
.x1f{left:534.059204px;}
.x7{left:604.332230px;}
.x8{left:624.207352px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-12.842667pt;}
._1{margin-left:-10.346667pt;}
._2{margin-left:-8.320000pt;}
._3{margin-left:-4.736000pt;}
._0{margin-left:-2.133333pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:72.000000pt;}
.fs3{font-size:80.000000pt;}
.fs5{font-size:96.000000pt;}
.fs1{font-size:106.666667pt;}
.fs4{font-size:128.000000pt;}
.fs7{font-size:149.333333pt;}
.fs6{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:40.741314pt;}
.y2d{bottom:103.587835pt;}
.y11{bottom:108.523788pt;}
.y12{bottom:168.822495pt;}
.yd{bottom:176.901230pt;}
.y10{bottom:201.883163pt;}
.y28{bottom:202.251175pt;}
.y27{bottom:203.202062pt;}
.y23{bottom:214.117823pt;}
.y17{bottom:221.712875pt;}
.y2e{bottom:227.952482pt;}
.y2{bottom:249.325564pt;}
.ye{bottom:258.357081pt;}
.y18{bottom:262.586573pt;}
.y13{bottom:274.864039pt;}
.y24{bottom:276.047674pt;}
.y1a{bottom:283.701848pt;}
.y5{bottom:284.597912pt;}
.y1e{bottom:285.664562pt;}
.y1f{bottom:286.731213pt;}
.y1{bottom:353.951823pt;}
.y4{bottom:353.952271pt;}
.y1c{bottom:355.338623pt;}
.y1b{bottom:375.379519pt;}
.y26{bottom:377.138926pt;}
.yf{bottom:386.929652pt;}
.y2c{bottom:388.046636pt;}
.yc{bottom:391.801275pt;}
.y20{bottom:394.970403pt;}
.y15{bottom:401.759811pt;}
.y19{bottom:441.162847pt;}
.y1d{bottom:477.430669pt;}
.ya{bottom:478.493027pt;}
.yb{bottom:490.949102pt;}
.y2b{bottom:491.926722pt;}
.y21{bottom:497.092290pt;}
.y25{bottom:501.042425pt;}
.y6{bottom:508.177516pt;}
.y29{bottom:509.344060pt;}
.y14{bottom:513.506475pt;}
.y22{bottom:543.305008pt;}
.y16{bottom:543.516769pt;}
.y7{bottom:555.132940pt;}
.y2a{bottom:560.461227pt;}
.y9{bottom:637.490944pt;}
.y8{bottom:659.090945pt;}
.h3{height:37.343750pt;}
.h1{height:50.414062pt;}
.h4{height:54.375000pt;}
.h7{height:65.250000pt;}
.h6{height:72.500000pt;}
.h2{height:74.687500pt;}
.h5{height:89.625000pt;}
.h9{height:101.500000pt;}
.h8{height:116.000000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x3{left:44.064229pt;}
.x1b{left:56.998800pt;}
.x1{left:71.835861pt;}
.x24{left:75.428614pt;}
.x4{left:182.539831pt;}
.x11{left:211.837400pt;}
.x5{left:215.341996pt;}
.x2{left:244.421041pt;}
.x10{left:251.108968pt;}
.x6{left:257.294454pt;}
.x22{left:267.915873pt;}
.x19{left:291.906860pt;}
.x1d{left:304.964010pt;}
.xf{left:313.592281pt;}
.x1c{left:315.023130pt;}
.x9{left:316.749781pt;}
.x13{left:344.533976pt;}
.x14{left:345.916667pt;}
.xa{left:368.379313pt;}
.x12{left:371.757505pt;}
.xc{left:374.049235pt;}
.xe{left:382.150956pt;}
.x21{left:390.425374pt;}
.x25{left:400.635742pt;}
.x23{left:433.811930pt;}
.xd{left:436.407959pt;}
.xb{left:442.586995pt;}
.x20{left:464.990153pt;}
.x1a{left:475.103760pt;}
.x16{left:497.244303pt;}
.x1e{left:507.290039pt;}
.x15{left:510.329346pt;}
.x18{left:679.742432pt;}
.x17{left:700.064290pt;}
.x1f{left:712.078939pt;}
.x7{left:805.776306pt;}
.x8{left:832.276469pt;}
}
